#container{
    width:30vw;
    height:100%;
    -webkit-box-shadow: 8px -4px 17px -5px #000000; 
    box-shadow: 8px -4px 17px -5px #000000;
    position: absolute;
}

#header_list{
    margin: 10px;
}

.field {
    float:right;
    margin: 10px;
    padding-right: 9vw;
}

#submit {
    float: right;
    margin: 0 50px;
    display: block;
} 

#table_list{
    position: absolute;
    left:35vw;
    z-index: -1;
    background-color: white;
}

input {
    display: inline;
}